.addbank {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #141d47;
  padding: 10px;

  @media (max-width: 450px) {
    flex-wrap: wrap;
  }
}

.connected {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  &_title {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    font-size: 19px;
  }

  &_link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100px;
    height: 60px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    font-weight: 700;
  }
}

.link_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 120px;
  list-style: none;
  background-color: #fff;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 60px;
  max-width: 90px;
}
