.title {
  margin: 20px 20px 0;
  font-family: "Playfair Display", sans-serif;
  text-align: justify;
  font-weight: 400;
  color: #fff;
  font-size: 48px;

  @media (max-width: 1024px) {
    font-size: 42px;
  }

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141d47;
  max-width: 1600px;
  height: 100%;
  padding: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #000;

  &_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }

  &_title {
    font-weight: 400;
    margin: 0 0 10px;
    color: #141d47;
    font-size: 42px;

    @media (max-width: 1024px) {
      font-size: 36px;
    }

    @media (max-width: 600px) {
      font-size: 28px;
    }
  }
}

.dialogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 10px;
  width: 33%;
  height: 350px;
  background-size: cover;
  background-position: center;

  @media (max-width: 1024px) {
    width: 48%;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &_title {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
    color: #f1f1f1;

    @media (max-width: 600px) {
      font-size: 24px;
    }
  }

  &_description {
    font-size: 22px;
    color: #CD447D;

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }
}