.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  padding: 10px;
  background-color: #141d47;

  &_links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &_link {
    color: #fff;
  }

  &_button {
    color: #141d47;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 40px;
  top: 60px;
  background-color: #141d47;
  width: 100%;
  min-height: 85vh;
}

.footer {
  display: flex;
  top: 93vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  background-color: #141d47;

  &_nav {
    @media (max-width: 600px) {
      display: flex;
      position: fixed;
      top: 93vh;
      background-color: rgba($color: #fff, $alpha: 0.7);
      width: 280px;
      justify-content: space-around;
      margin-bottom: 10px;
      padding: 8px 8px 4px;
      border-radius: 5px;
    }

    display: none;
  }
}
