.notauth {
  background-color: #141d47;
  width: 100%;
  height: 100vh;
  color: #fff;
  padding: 10px;

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 10px;
    background-color: #141d47;
  }

  &_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141d47;
    width: 100%;
    min-height: 85vh;

    &_link {
      cursor: pointer;
    }
  }

  &_footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #141d47;
    height: 7vh;
    width: 100%;
    padding: 5px;
    color: #fff;
  }
}